<!DOCTYPE html>
<html>
<head>
    <title>Your Classes</title>
</head>
<body>
    <h1>Your Classes</h1>
    <% if (classes.length > 0) { %>
        <ul>
            <% classes.forEach(c => { %>
                <li><%= c.className %></li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No classes found for your account.</p>
    <% } %>

</body>
</html>
