<!DOCTYPE html>
<html>

<head>
    <title>Your Classes</title>
</head>

<body>
    <h1>Your Classes</h1>
    <hr>

    <% if (classes.length===0) { %>
        <p>No classes found.</p>
        <% } else { %>
            <% classes.forEach(classItem=> { %>
                <div>
                    <strong>
                        <%= classItem.name %>
                    </strong>
                                <hr>
                </div>
                <% }) %>
                    <% } %>
                        <a href="/">Go to Home Page</a>
</body>

</html>