<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/Polls">Go to Polls</a>
    <a href="/profile">Go to Profile</a>
    <a href="/testing">Testing</a>
    <a href="/classes">View Current Classes</a>

</body>
</html>