<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/Polls">Go to Polls</a>
    <a href="/profile">Go to Profile</a>
<<<<<<< HEAD
    <a href="/classes">Go to Classes</a>
    <a href="/testing">Testing</a>
=======
    <a href="/classes">View Current Classes</a>
>>>>>>> ec460c907146218e6650b76353ff90b2e6f2f5a0
</body>
</html>